 
#mera{
    
   
    background-color: rgb(29,30,28);
    margin-top: 50px;
    height: auto;
   
 }

ul{
    list-style: none;
 }

.coL{
   width: 45%;
}
.col>h4{
   margin-bottom: 20px;
}
#bag ul li{
    margin-top: 20px;
    margin-left: -40px;
    
}
#bag  ul li:not(:last-child){
    color: white;
    margin-bottom: 12px;
}
#bag>.col>h4{
    margin-top: -13px;
}
#bag>img{
    margin-left: 80px;
    color: rgba(255,248,241,100%);
    padding-bottom: 1px;
    transition: color .2s,border .2s;
    cursor: pointer;
    font-size: 18px;
    font-family: MuotoWeb,sans-serif;
    font-style: normal;
    font-weight: 500;
}
#bag{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    font-size: 13px;
    width: 90%;
    margin-left: 60px;
    color: rgba(255,248,241,100%);
    padding-bottom: 1px;
    transition: color .2s,border .2s;
    cursor: pointer;
    font-size: 18px;
    font-family: MuotoWeb,sans-serif;
    font-style: normal;
    font-weight: 500;
}
#bag>div>img{
    width: 60%;
    margin-top: 25px;
    color: white;
}
#me>button{
    
    color: white;
    width: 90%;
    padding: 14px;
    border-radius: 21px;
    margin-top: 60px;
    margin-left: 70px;
    font-size: 17px;
    border: .3px solid gray;
    background-color: transparent;
}
#me>button:hover{
    color:rgb(250,93,0);
}
#me>button>span{
    
    font-weight: 600;
    font-size: 19px;
    
}

h4{
 color: white;
}

a{
text-decoration: none;
color: white;
}
a:hover{
color: rgb(250,93,0);
}
#play{
 display: flex;
 width: 100%;

 justify-content:space-between;
 margin-top: 25px;
 align-items: center;
}
#botm{
    margin-left: 60%;
    margin-top: 30px;
    width: 40%;
    margin-bottom: 2%;
    
}
#botm>a>svg{
    width: 6%;
    margin-left: 40px;
    margin-top: 10px;
}
#may{
    margin-left: 60px;
    font-size: 18px;
    color: gray;
    margin-bottom: -3%;
    
}



